@import "test";

$color-primary: orange;
$color-secondary: gray;
$color-tertiary: royalblue;


$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
    background-color: 
    // lighten($color-primary, 20%); //darken works too
    // transparentize($color-primary, .6);
    mix(blue,green, 40%);

    ul li {
        list-style: none;  
    }
    a { 
        text-decoration: none;
        font-size: $font-sm;
        color: $color-secondary;

        &:hover{
            // &indicates parent element
            color: $color-tertiary
        }
    }
}

%heading {
    color: $color-primary;
    font-size: $font-lg;
    background-color: $color-secondary;
    text-align: center;
    //change the heading class into a place holder selector
}

// @mixin headingStyles($fontSize: 50px) {
//     // defining the fontSize in the arg adds a default parameter
//     //this keeps code DRY
//     font-size: $fontSize;
//     color: $color-secondary;
//     text-align: center;
// }

// @mixin transition($param...){
//     transition: $param;
//     //this gives you transition times into child element
//     //this needs ... because it can take multiple params
// }

// .banner h1{
//     // $color-secondary: red !global; - this overrides the global variable declaration
//     // @include headingStyles($font-lg);

//     &:hover {
//         background-color: green

//     }
// }

// @function fontSize($size: 25px){
//    @return $size * 2;
// }

h1 {
    //since im removing the banner h1 class, im extending it to my h3 footer. this is to demo an example
    //i created an h1 to demo extend
    @extend %heading;
    //call the place holder selector instead of the class
    //if we just need the class to extend styles to elements and the class is not used anywhere else, use placeholder selectors
    &:hover {
        background-color: green;
    }
}

.footer h3 {
    @extend h1
    // font-size: $font-md; i can declare font size here, or add it as an arg when calliing the mixin
    // @include headingStyles($font-md);
    // @include transition(color .5s, background-color 1s);

    // &:hover {
    //     color: $color-tertiary;
    //     background-color: $color-primary;
    // }
}

// .banner p{
//     font-size: fontSize($font-sm)
//     //to call the function

// }

// .footer p{
//     font-size: fontSize(30px);
//     //to call the function
// }